{% extends 'base.html' %} {% block title %}Make your own{% endblock %} {% block
content %}
<h1>Make your own story</h1>
<p>Use add line to add . or , etc in the ends</p>
<form action="" method="post" id="form_item">
  <div>
    <input type="text" id="myLine" placeholder="Line..." />
    <span onclick="newElement('myLine')" class="addBtn">Add Line</span>
  </div>
  <div>
    <input type="text" id="myKey" placeholder="key..." />
    <span onclick="newElement('myKey')" class="addBtn">Add Key</span>
  </div>
</form>
<div class="make_own_story_name">
  <label for="story_name:">name your story:</label>
  <input type="text" name="story_name" id="story_title" />
  <p id="pharagrapth"></p>
  <button id="submit_own_story">Submit Your Story</button>
</div>
{% endblock %}
